.exampleone {
  background-color: teal;
  color: white;
}

.exampletwo {
  background-color: blue;
  color: white;
}

.example {
  background-color: green;
  color: white;
}


/* footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
} */


