{
    "extends":["airbnb","airbnb/hooks"],
    "rules": {
        "react/prop-types": "off",
        "reatc/function-component-definition":"off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": "off",
        "react-hooks/exhaustive-deps": 0
    }
}